## Goldsmiths University of London
### Authors...: Sandor Kanda (skand001) + Carlos Alves (cdeol003)
### Created...: 14/02/2023

## Data Mining Coursework

# Setup

In [2]:
# Import relevant libraries for the project
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Get the Data

In [3]:
# Import the dataframes credit default test and train
df_credit_test = pd.read_csv('creditdefault_test.csv')
df_credit_train = pd.read_csv('creditdefault_train.csv')

In [4]:
# Import the dataframes sonar test and train
df_sonar_test = pd.read_csv('sonar_test.csv')
df_sonar_train = pd.read_csv('sonar_train.csv')

## Take a Quick Look at the Data Structure 

## PART 1: 
### This task is based on the Sonar real data seen previously in class. Several objects which can be rock or metal cylinders are scanned on different angles and under different conditions, with sonar signals. 60 measurements are recorded per columns for each object (one record per object) and these are the predictors called A1, A2, …, A60. The label associated with each record contains the letter "R" if the object is a rock and "M" if it is metal cylinder, and this is the outcome variable called Class. Two datasets are provided to you: a training dataset in the sonar_train.csv file, and a test dataset in the sonar_test.csv file.

In [6]:
# Check the dataframes sonar test and train
df_sonar_test.head()
df_sonar_train.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,...,A52,A53,A54,A55,A56,A57,A58,A59,A60,Class
0,0.0079,0.0086,0.0055,0.0250,0.0344,0.0546,0.0528,0.0958,0.1009,0.1240,...,0.0176,0.0127,0.0088,0.0098,0.0019,0.0059,0.0058,0.0059,0.0032,R
1,0.0599,0.0474,0.0498,0.0387,0.1026,0.0773,0.0853,0.0447,0.1094,0.0351,...,0.0013,0.0005,0.0227,0.0209,0.0081,0.0117,0.0114,0.0112,0.0100,M
2,0.0093,0.0269,0.0217,0.0339,0.0305,0.1172,0.1450,0.0638,0.0740,0.1360,...,0.0212,0.0091,0.0056,0.0086,0.0092,0.0070,0.0116,0.0060,0.0110,R
3,0.0151,0.0320,0.0599,0.1050,0.1163,0.1734,0.1679,0.1119,0.0889,0.1205,...,0.0061,0.0015,0.0084,0.0128,0.0054,0.0011,0.0019,0.0023,0.0062,R
4,0.0317,0.0956,0.1321,0.1408,0.1674,0.1710,0.0731,0.1401,0.2083,0.3513,...,0.0201,0.0248,0.0131,0.0070,0.0138,0.0092,0.0143,0.0036,0.0103,R

In [9]:
# Display information about the dataframes sonar test and train
df_sonar_test.info()
df_sonar_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 61 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      69 non-null     float64
 1   A2      69 non-null     float64
 2   A3      69 non-null     float64
 3   A4      69 non-null     float64
 4   A5      69 non-null     float64
 5   A6      69 non-null     float64
 6   A7      69 non-null     float64
 7   A8      69 non-null     float64
 8   A9      69 non-null     float64
 9   A10     69 non-null     float64
 10  A11     69 non-null     float64
 11  A12     69 non-null     float64
 12  A13     69 non-null     float64
 13  A14     69 non-null     float64
 14  A15     69 non-null     float64
 15  A16     69 non-null     float64
 16  A17     69 non-null     float64
 17  A18     69 non-null     float64
 18  A19     69 non-null     float64
 19  A20     69 non-null     float64
 20  A21     69 non-null     float64
 21  A22     69 non-null     float64
 22  A23     69 non-null     float64
 23  A24     69 non-null     float64
 24  A25     69 non-null     float64
 25  A26     69 non-null     float64
 26  A27     69 non-null     float64
 27  A28     69 non-null     float64
 28  A29     69 non-null     float64
 29  A30     69 non-null     float64
 30  A31     69 non-null     float64
 31  A32     69 non-null     float64
 32  A33     69 non-null     float64
 33  A34     69 non-null     float64
 34  A35     69 non-null     float64
 35  A36     69 non-null     float64
 36  A37     69 non-null     float64
 37  A38     69 non-null     float64
 38  A39     69 non-null     float64
 39  A40     69 non-null     float64
 40  A41     69 non-null     float64
 41  A42     69 non-null     float64
 42  A43     69 non-null     float64
 43  A44     69 non-null     float64
 44  A45     69 non-null     float64
 45  A46     69 non-null     float64
 46  A47     69 non-null     float64
 47  A48     69 non-null     float64
 48  A49     69 non-null     float64
 49  A50     69 non-null     float64
 50  A51     69 non-null     float64
 51  A52     69 non-null     float64
 52  A53     69 non-null     float64
 53  A54     69 non-null     float64
 54  A55     69 non-null     float64
 55  A56     69 non-null     float64
 56  A57     69 non-null     float64
 57  A58     69 non-null     float64
 58  A59     69 non-null     float64
 59  A60     69 non-null     float64
 60  Class   69 non-null     object
dtypes: float64(60), object(1)
memory usage: 33.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 61 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A1      139 non-null    float64
 1   A2      139 non-null    float64
 2   A3      139 non-null    float64
 3   A4      139 non-null    float64
 4   A5      139 non-null    float64
 5   A6      139 non-null    float64
 6   A7      139 non-null    float64
 7   A8      139 non-null    float64
 8   A9      139 non-null    float64
 9   A10     139 non-null    float64
 10  A11     139 non-null    float64
 11  A12     139 non-null    float64
 12  A13     139 non-null    float64
 13  A14     139 non-null    float64
 14  A15     139 non-null    float64
 15  A16     139 non-null    float64
 16  A17     139 non-null    float64
 17  A18     139 non-null    float64
 18  A19     139 non-null    float64
 19  A20     139 non-null    float64
 20  A21     139 non-null    float64
 21  A22     139 non-null    float64
 22  A23     139 non-null    float64
 23  A24     139 non-null    float64
 24  A25     139 non-null    float64
 25  A26     139 non-null    float64
 26  A27     139 non-null    float64
 27  A28     139 non-null    float64
 28  A29     139 non-null    float64
 29  A30     139 non-null    float64
 30  A31     139 non-null    float64
 31  A32     139 non-null    float64
 32  A33     139 non-null    float64
 33  A34     139 non-null    float64
 34  A35     139 non-null    float64
 35  A36     139 non-null    float64
 36  A37     139 non-null    float64
 37  A38     139 non-null    float64
 38  A39     139 non-null    float64
 39  A40     139 non-null    float64
 40  A41     139 non-null    float64
 41  A42     139 non-null    float64
 42  A43     139 non-null    float64
 43  A44     139 non-null    float64
 44  A45     139 non-null    float64
 45  A46     139 non-null    float64
 46  A47     139 non-null    float64
 47  A48     139 non-null    float64
 48  A49     139 non-null    float64
 49  A50     139 non-null    float64
 50  A51     139 non-null    float64
 51  A52     139 non-null    float64
 52  A53     139 non-null    float64
 53  A54     139 non-null    float64
 54  A55     139 non-null    float64
 55  A56     139 non-null    float64
 56  A57     139 non-null    float64
 57  A58     139 non-null    float64
 58  A59     139 non-null    float64
 59  A60     139 non-null    float64
 60  Class   139 non-null    object
dtypes: float64(60), object(1)
memory usage: 66.4+ KB